@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #374151;
 
}

@layer components {
  .nav-link {
    font-family: 'Josefin Sans', 'Roboto', sans-serif;
    font-weight: bold;
    color: #e5e7eb; /* Tailwind's text-gray-200 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
  }
  .nav-link-child {
    display: flex;
    flex-direction: row;
    gap: 2.5rem; /* gap-10 in Tailwind is 2.5rem */
  }
  .nav-link-child-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6rem; /* top-24 in Tailwind is 6rem */
    box-shadow: 2px 2px 10px white;
    width: 94vw;
    gap: 1rem; /* gap-4 in Tailwind is 1rem */
    margin-left: 7rem; /* ml-28 in Tailwind is 7rem */
    text-decoration: none;
  }
}


.nav-triger-btn:hover {
  transition: all 0.6s ease;
  color: cyan;
  border-bottom: 3px solid cyan;
}

.logo {
  background-size: cover;
      height: 3rem;
    max-width: auto;
    margin-left: 2rem;
}


.here-main{
  padding-top: 7rem;
  width: 90%;
  max-width: 1500px;
}


.hexagon{
  animation-duration: 3s;
  
  top: 6em;
  
  z-index: -7;

}

.pic{

  top: 6em;



}
